/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* CSS */
html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    height: 100%;
}

.max-whidht {
    width: 100%;
    min-width: 100vh;
    min-height: 100vh;
}

.bg{
    background: url(image/01.png) no-repeat;
    background-size: cover;
    height: auto;
}

.container{
    max-width: 1330px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Menu */

.menu{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2%;
}

.logo{
    background: url(image/logo.png) no-repeat;
    background-size: contain;
    width: 150px;
    height: 80px;
    position: relative;
    z-index: 9;
    margin-top: 10px;
}

/* Tamanho Fontes */

.text-gd{
    font-size: 64px;
}

.text-md{
    font-size: 36px;
}
.text-pq{
    font-size: 14px;
}

.text-title{
    font-size: 20px;
    font-weight: 600;
}

/*Cores Texto*/

.color-laranja{
    color: #fa5e00;
}

.color-cinza{
    color: #2b2b2b;
}

.color-cinza-2{
    color: #545454;
}

/*Chamada*/

.call{
    display: flex;
    align-items: center;
    margin-top: 120px;
}

.left{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

.right{
    width: 50%;
    min-height: 600px;
    max-height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2%;
}

/* Imagem */

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Botão */


.button{
    padding: 10px;
    background: #fa5e00;
    color: #ffffff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

.button:hover{
    border: 1px solid #fa5e00;
    background: #ffffff;
    color: #fa5e00;
}

button{
    padding: 10px;
    background: #fa5e00;
    color: #ffffff;
    font-size: 14px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

button:hover{
    border: 1px solid #fa5e00;
    background: #ffffff;
    color: #fa5e00;
}



/* Content */

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 0 2%;
    width: 100%;
    min-height: 800px;
}

.down{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    min-height: 300px;
}

/* Titulo */

.titulo{
    width: 100%;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

/* Box */

.box{
    width: 25%;
    min-height: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2%;
}

/* Info */

.info{
    display: flex;
}

/* Desktop-Menu */

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li{
    padding: 0 25px;
    list-style-type: none;
}

.desktop-menu ul li a{
    text-decoration: none;
    color: #545454;
    font-size: 18px;
}

.desktop-menu ul li a:hover{
    color: #fa5e00;
    font-weight: 500;
}

/* button to-top */

#back-to-top {
    position: fixed;
    bottom: 2px;
    right:  20px;
    padding: 10px 15px;
    background: #2b2b2b;
}

/* Scrollbar Personalizada */

body::-webkit-scrollbar{
    width: 12px;
}

body::-webkit-scrollbar-track{
    background: #ffffff;
}

body::-webkit-scrollbar-thumb{
    background-color: #2b2b2b;
    border-radius: 20px;
    border: 1px solid #ffffff;
}


/* home */

#home .container{
    flex-direction: column;
    justify-content: flex-start;
}

#home .right{
    flex-direction: column;
    align-items: flex-end;
}

#home .right h1{
    text-align: end;
}

#home .right h2{
    text-align: end;
    margin-top: 20px;
}

#home .right p{
    text-align: end;
    margin-top: 20px;
}

#home .right button{
    margin-top: 30px;
}

/* About */

#about {
    position: relative;
}
#about .blur{
    width: 100%;    
    height: 30px;
    background-color: rgb(233 232 232);
    position: absolute;
    opacity: 0.3;
    top: -15px;
    left: 0;
    filter: blur(4px);
}


#about .left{
    flex-direction: column;
    align-items: flex-start;
}

#about .left span{
    margin-top: 20px;
}

#about .left h2{
    margin-top: 20px;
}

#about .left p{
    margin-top: 20px;
}

#about .left button{
    margin-top: 20px;
}

#about .right img{
    border-radius: 30px;
    
}


/* Service */

#service {
    position: relative;
}

#service .blur{
    width: 100%;    
    height: 30px;
    background-color: rgb(233 232 232);
    position: absolute;
    opacity: 0.3;
    top: -15px;
    left: 0;
    filter: blur(4px);
}

#service .box i{
    border: 4px solid #2b2b2b;
    border-radius: 30px;
    padding: 30px;
    margin-top: 10px;
}

#service .box h2{
    margin-top: 20px;
    text-align: center;
}

#service .box p{
    margin-top: 20px;
    text-align: center;
}

/* Menu */

#menu {
    position: relative;
}

#menu .blur{
    width: 100%;    
    height: 30px;
    background-color: rgb(233 232 232);
    position: absolute;
    opacity: 0.3;
    top: -15px;
    left: 0;
    filter: blur(4px);
}

#menu .box{
    background-color: #ffffff80;
    border-radius: 20px;
    border: 5px solid #fa5e00;
    margin: 10px;
    min-width: 300px;
}

#menu .box img{
    width: 80%;
    height: auto;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #2b2b2b;
}

#menu .box  h2{
    margin-top: 20px;
    text-align: center;
}

#menu .box p{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    color: #545454;
    text-align: center;
}

#menu .box .text-md{
    font-size: 20px;
}

/* Contact */

#contact {
    position: relative;
}

#contact .blur{
    width: 100%;    
    height: 30px;
    background-color: rgb(233 232 232);
    position: absolute;
    opacity: 0.3;
    top: -15px;
    left: 0;
    filter: blur(4px);
}


#contact .left{
    flex-direction: column;
    align-items: flex-start;
}

#contact .left h2{
    margin-top: 20px;
}

#contact .left p{
    margin-top: 20px;
}

#contact .left .info{
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#contact .left .info img{
    width: 123px;
    cursor: pointer;
}

#contact .right img{
    width: 50%;
}


/* Footer */

footer .container{
    width: 100%;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .container img{
    width: 60px;
    object-fit: contain;
}

footer .container p{
    font-weight: 600;
}

/* Responsive */